---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "astro:assets";
import Newsletter from "assets/newsletter.svg";
---

<Layout title="Features">
  <!--====================== Faq ======================-->
  <div class="py-24">
    <Container>
      <div>
        <h2
          class="text-primary-strong text-center text-3xl md:text-5xl font-bold">
          Faq
        </h2>
        <p
          class="text-center text-primary-strong font-medium text-lg leading-normal max-w-3xl mx-auto pt-10">
          Cariations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form repeat predefined chunks.
        </p>
      </div>

      <div class="flex justify-center items-center p-10 max-w-4xl mx-auto">
        <!-- Component Start -->
        <div class="flex flex-col w-full">
          <h3 class="text-primary text-2xl font-semibold">General Questions</h3>
          <button class="group mt-6">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ut vel nunc aliquam</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Integer ornare turpis sed sem lobortis vulputate.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Nunc nec risus et nisl molestie vestibulum
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Aenean nec erat vehicula, molestie velit id, molestie tortor.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ac posuere ipsum condimentum.</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
        </div>
        <!-- Component End  -->
      </div>

      <div class="flex justify-center items-center p-10 max-w-4xl mx-auto">
        <!-- Component Start -->
        <div class="flex flex-col w-full">
          <h3 class="text-primary text-2xl font-semibold">Basic Questions</h3>
          <button class="group mt-6">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ut vel nunc aliquam</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Integer ornare turpis sed sem lobortis vulputate.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Nunc nec risus et nisl molestie vestibulum
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Aenean nec erat vehicula, molestie velit id, molestie tortor.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ac posuere ipsum condimentum.</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
        </div>
        <!-- Component End  -->
      </div>

      <div class="flex justify-center items-center p-10 max-w-4xl mx-auto">
        <!-- Component Start -->
        <div class="flex flex-col w-full">
          <h3 class="text-primary text-2xl font-semibold">Software Support</h3>
          <button class="group mt-6">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ut vel nunc aliquam</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Integer ornare turpis sed sem lobortis vulputate.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Nunc nec risus et nisl molestie vestibulum
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">
                Aenean nec erat vehicula, molestie velit id, molestie tortor.
              </span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
          <button class="group border-t border-gray-200">
            <div
              class="flex items-center justify-between font-semibold py-6 text-primary-strong hover:text-primary-strong transition">
              <span class="truncate">Ac posuere ipsum condimentum.</span>
              <svg
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div
              class="max-h-0 overflow-hidden duration-300 group-focus:max-h-40">
              <a
                class="flex text-md text-left text-primary-strong pb-6 leading-7"
                href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel
                nunc aliquam, auctor arcu sed, ornare ex. Integer scelerisque
                leo non quam egestas, ac posuere ipsum condimentum. Nunc nec
                risus et nisl molestie vestibulum ac vel nisl. Aenean nec erat
                vehicula, molestie velit id, molestie tortor. Integer ornare
                turpis sed sem lobortis vulputate.
              </a>
            </div>
          </button>
        </div>
        <!-- Component End  -->
      </div>
    </Container>
  </div>
  <!--//End Faq -->
  <!--====================== Support ======================-->
  <div class="py-24">
    <Container>
      <div
        class="flex flex-wrap max-w-sm text-primary-strong font-semibold mx-auto">
        <Image src={Newsletter} alt="" class="mx-auto" />
        <h3 class="text-center text-2xl mt-2">
          If you have any additional questions, feel free to reach out.
        </h3>
        <a
          href="#"
          class="text-3xl text-primary font-semibold text-center mx-auto mt-3 underline">
          support@Riverlytics.com
        </a>
      </div>
    </Container>
  </div>
  <!--//End Support -->
</Layout>
