---
import { Image } from "astro:assets";
import Container from "@components/container.astro";
import heroImage from "assets/dashboard.png";
import isolationMode from "assets/frame.svg";
---

<div class="bg-primary-soft pt-10 md:pt-24 relative overflow-hidden">
  <div class="absolute -left-28 bottom-60 hidden md:block">
    <Image src={isolationMode} alt="" />
  </div>
  <div class="absolute -right-28 top-20">
    <Image src={isolationMode} alt="" />
  </div>
  <Container>
    <div class="max-w-screen-xl mx-auto relative">
      <h1
        class="text-4xl md:text-6xl font-bold text-center text-primary-strong max-w-4xl mx-auto">
        Innovative analytics solutions tailored for you.
      </h1>
      <p
        class="text-center text-primary-strong text-xl leading-normal max-w-3xl mx-auto py-6">
        Unlock actionable insights and drive strategic decisions with targeted datasets and cutting-edge analytics solutions customized to fuel your success.
      </p>
      <form class="flex items-center justify-center mt-8 relative" action="/search" method="GET" >
        <div class="relative w-full max-w-2xl">
          <input type="text" name="query" placeholder="Search for datasets, reports, or insights" class="w-full px-6 py-4 text-lg border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-strong"/>
          <button type="submit" class="absolute inset-y-0 right-0 bg-primary text-white px-6 text-lg font-medium rounded-full hover:bg-primary-strong focus:outline-none flex items-center justify-center">
            Search
          </button>
        </div>
      </form>
      <!--<div class="mx-auto flex flex-wrap gap-4 text-center justify-center">-->
      <!--  <a-->
      <!--    href="/auth/signup"-->
      <!--    class="bg-primary text-lg w-full sm:w-auto font-medium rounded-lg py-5 px-8 text-white transition hover:bg-primary-strong">-->
      <!--    Start free trial-->
      <!--  </a>-->
      <!--  <a-->
      <!--    href="#"-->
      <!--    class="bg-white text-lg w-full sm:w-auto font-medium rounded-lg py-5 px-8 text-primary-strong transition hover:bg-primary hover:text-white">-->
      <!--    Watch video-->
      <!--  </a>-->
      <!--</div>-->
      <!--<div-->
      <!--  class="flex justify-center max-w-5xl mx-auto mt-16 sm:mt-20 sm:px-10">-->
      <!--  &lt;!&ndash;<Image src={heroImage} alt="" quality="high" />&ndash;&gt;-->
      <!--</div>-->
    </div>
  </Container>
</div>
