---
import Container from "@components/container.astro";
import { Image } from "astro:assets";
import vectorImagebg from "assets/frame2.svg";
import customReport from "assets/graph.png";
import salesFigure from "assets/graph2.png";
---

<!--====================== Custom report ======================-->
<div class="py-24 bg-primary-soft">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
      <div class="relative">
        <div class="absolute -bottom-1/4 -left-1/3 hidden 2xl:block z-0">
          <Image src={vectorImagebg} alt="" />
        </div>
        <Image src={customReport} alt="" class="mx-auto md:mx-0" />
      </div>
      <div>
        <h3
          class="text-primary-strong text-3xl md:text-4xl leading-normal font-bold">
          Custom Reports
        </h3>
        <p class="text-primary-strong text-lg leading-8 py-8 leading-7">
         Our custom reports transform your raw data into actionable insights, providing flexibility, precision, and seamless integration with the tools you trust.
          Whether you’re analyzing trends, tracking KPIs, or visualizing outcomes, our reports ensure you stay ahead.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-10">
          <div>
            <ul>
              <li class="flex gap-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  Tailored Insights.
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  Power BI and Tableau Integration
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  API Access
                </span>
              </li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="flex gap-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  Interactive Visualizations
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  Real-Time Data Updates
                </span>
              </li>
              <li class="flex gap-3 pt-3">
                <div
                  class="w-5 h-5 bg-primary-accent rounded-full flex justify-center items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="10"
                    height="10"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                    class="">
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="#ffffff"
                        opacity="1"
                        data-original="#ffffff"
                        class="">
                      </path>
                    </g>
                  </svg>
                </div>
                <span class="items-center flex text-primary-strong font-medium">
                  Cross-Platform Accessibility
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
<!--//End Custom report -->

<!--====================== Daily monitor ======================-->
<div class="bg-primary-soft md:py-24">
  <Container>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 items-center">
      <div>
        <h3
          class="text-primary-strong text-3xl md:text-4xl leading-normal font-bold [text-wrap:balance] max-w-xl">
          Monitor daily or weekly sales figures.
        </h3>
        <p class="text-primary-strong text-lg pt-8 leading-8">
          combined with a handful of model sentence structures, to generate
          Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
          therefore always free from repetition, injected humour, or
          non-characteristic words
        </p>
      </div>
      <div class="relative">
        <div class="absolute -top-1/4 -right-1/4 hidden 2xl:block z-0">
          <Image src={vectorImagebg} alt="" />
        </div>
        <Image src={salesFigure} alt="" />
      </div>
    </div>
  </Container>
</div>
<!--//End Daily monitor -->
